@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels

@model LoginViewModel

<h2>Log in with your Account:</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(x=>x.Email)
  @Html.TextBoxFor(x=>x.Email)

  @Html.LabelFor(x=>x.Password)
  @Html.PasswordFor(x=>x.Password)

  <input type="submit" value="Log In" class="btn btn-default" />
}